* {
  --background-theme-black: #000;
  --background-theme-white: #fff;
  --color-theme-black: #000;
  --color-theme-white: #fff;
  --color-theme-red: #000;
  /* #c73232 */
  --profile-icon-color: #c73232;

  --text-item1-color: #4285f4;
  --dropdown-menu-color: 1px solid #4f4f4f;
}

.bot-response {
  animation: bot-response 1s ease-in-out;
}

@keyframes bot-response {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.mob-niveus-logo-container {
  display: none;
}

.niveus-logo-container {
  display: block;
}

.profile-icon {
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: var(--color-theme-red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 20px;
  left: 15px;
  position: absolute;
}

.initial {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.profile-icon1 {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  background-color: var(--profile-icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px;
  top: 20px;
  position: absolute;
}

.initial1 {
  font-size: 12.5px;
  font-weight: bold;
  color: var(--color-theme-white);
}

.new-chat-border {
  display: flex;
  width: 200px;
  align-items: center;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}

/* .new-chat-text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 45px;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  flex-direction: row;
  
} */

.new-chat-text {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-top: 12.5px;
  padding-bottom: 45px;
  font-weight: 500;
  font-size: 22px;
  margin-left: 30px;
  flex-direction: column;
  width: fit-content;
}

.new-chat-text img.genius-img {
  align-self: flex-start;
  /* Align the image to the left */
  margin-bottom: 5px;
}

/* .side-middle {
  width: 30;
} */

.main-container {
  width: 80%;
}

.menu {
  display: none;
}

.log-container {
  position: relative;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 15px;
  margin-left: auto;
  margin-right: auto;
}

.light {
  color: var(--color-theme-red);
  background-color: var(--background-theme-white);
}

.dark {
  color: var(--color-theme-white);
  background-color: var(--background-theme-black);
}

.sidebar-bottom-container {
  position: relative;
  top: 10px;
  left: 20px;
}

#image {
  padding-left: 2px;
  padding-bottom: 300%;
  width: 30px;
  transform: scale(1.8);
}

#niveus-image {
  width: 100px;
  height: 19px;
  padding: 10px;
  position: absolute;
  right: 65px;
  top: 26px;
}

#hdfc-image {
  width: 70px;
  height: 50px;
  padding: 10px;
  position: absolute;
  right: 65px;
  top: 10px;
}


.side-icons {
  font-size: 15px;
  padding: 10px;
}

.icon-text {
  font-size: 16px;
}

.addOutlineIcon {
  padding-left: 25px;
  font-size: 20px;
}

.sidebarmiddle-icon {
  display: flex;
  align-items: center;
}

.side-bar-top {
  font-weight: bold;
  font-size: 20px;
}

.AppsOutlinedIcon {
  width: 30px;
  height: 60px;
  padding: auto;
}

.box {
  width: 96%;
  height: 88%;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 2%;
}

.menuOutlinedIcon {
  font-size: 28px;
  padding: 15px;
  padding-top: 20px;
  margin-bottom: 10px;
  padding-right: 22px;
}

.side-bar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.wall {
  position: absolute;
  width: 80%;
  height: 100%;
}

.niveuslogo {
  position: absolute;
  right: 85px;
  top: 25px;
}

.textitem {
  position: absolute;
  bottom: 80px;
  font-size: 18px;
  margin-left: 10px;
  width: 200px;
}

.textitem1 {
  position: absolute;
  bottom: 60px;
  font-size: 12px;
  margin-left: 10px;
  color: var(--text-item1-color);
  width: 200px;
}

.dropdown-toggle {
  background-color: var(--profile-icon-color);
  color: var(--color-theme-white);
  font-weight: bold;
  font-size: 25px;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 20px;
  border-radius: 50px;
  border-style: none;
  z-index: 1;
  position: absolute;
}

.dropdown-menu {
  position: absolute;
  top: 86px;
  left: -200px;
  width: 200px;
  padding: 20px;
  padding-top: 10px;
  list-style: none;
  height: 170px;
  border-radius: 20px;
  border: var(--dropdown-menu-color);
}

.dropdown-item {
  padding-top: 15px;
  font-size: 23px;
}

.sendroundedicon {
  font-size: 35px;
  color: var(--color-theme-red);
  margin-bottom: 10px;
}

.microundedicon {
  font-size: 35px;
  color: var(--color-theme-red);
  margin-bottom: 10px;
}

.genius-img {
  width: 93px;
}

/*--------------Large Screen------------------*/
@media only screen and (max-width: 1920px) {
  .AppsOutlinedIcon {
    margin-left: -55px;
    margin-top: 28px;
  }

  /* .dropdown-menu{
    top: 96px;
    } */
  .dropdown-item {
    padding-top: 15px;
    font-size: 23px;
  }
}

/*--------------Desktop------------------*/

@media screen and (max-width: 1366px) {
  .dropdown-toggle {
    width: 40px;
    height: 40px;
    left: 10px;
  }

  #niveus-image {
    top: 15px;
  }

  .AppsOutlinedIcon {
    margin-left: -60px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    width: 30px;
    height: 60px;
    padding: auto;
  }

  .addOutlineIcon {
    padding-left: 25px;
    font-size: 17px;
  }

  .sendroundedicon {
    font-size: 35px;
    color: var(--color-theme-red);
    margin-bottom: 10px;
  }

  .microundedicon {
    font-size: 35px;
    color: var(--color-theme-red);
    margin-bottom: 10px;
  }

  .dropdown-menu {
    position: absolute;
    top: 65px;
    left: -193px;
    width: 180px;
    height: 150px;
  }

  .dropdown-item {
    padding-top: 10px;
    font-size: 2px;
  }

  #hdfc-image {
    top: 8px;
    /* width:100px; */
    padding: 0;
  }

  .new-chat-text {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-top: 12.5px;
    padding-bottom: 45px;
    font-weight: 500;
    font-size: 22px;
    /* margin-left: 30px; */
    flex-direction: column;
    width: fit-content;
  }

  .new-chat-text img.genius-img {
    align-self: flex-start;
    /* Align the image to the left */
    margin-bottom: 5px;
  }

  .profile-icon {
    width: 7px;
    height: 7px;
    border-radius: 25px;
    background-color: var(--color-theme-red);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 10px;
    /* left: 15px; */
    position: absolute;
  }
}

/*--------------Tablet 1------------------*/

@media only screen and (max-width: 900px) {
  .log-container {
    position: relative;
    left: 35%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 2px;
  }

  .side-bottom {
    display: none;
  }

  .mob-niveus-logo-container {
    display: block;
  }

  .niveus-logo-container {
    display: flex;
  }

  .main-container {
    width: 100%;
  }

  .wall {
    width: 100%;
  }

  .dropdown-toggle {
    left: 170px;
    top: 9px;
    width: 40px;
    height: 40px;
  }

  .AppsOutlinedIcon {
    margin-left: 125px;
    margin-top: 18px;
  }

  #niveus-image {
    width: 80px;
    height: 15px;
    left: 15px;
    /* top: 12px; */
  }

  .box {
    width: 100%;
    /* left: 23px; */
  }

  .profile-icon1 {
    width: 3px;
    height: 3px;
    top: 14px;
    left: 65px;
  }

  /* .menu {
    position: absolute;
    display: block;
    right: 600px;
  } */

  .dropdown-menu {
    top: 50px;
    left: -13px;
    width: 160px;
    height: 110px;
  }

  .dropdown-item {
    padding-top: 8px;
    font-size: 18px;
  }

  #hdfc-image {
    width: 75px;
    height: 35px;
    left: 25px;
    top: 20px;
  }
}

/*--------------Tablet 2------------------*/

@media screen and (max-width: 600px) {
  .wall {
    width: 100%;
  }

  .profile-icon {
    width: 5px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--color-theme-red);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    top: 14px;
    left: 38px;
    /* right: -100px; */
    position: absolute;
  }

  /* .sendroundedicon {
    font-size: 35px;
    color: var(--color-theme-red);
    margin-bottom: 10px;
  } */

  .box {
    width: 100%;
    height: 87%;
    top: 10%;
    left: 14px;
  }

  .dropdown-toggle {
    left: 95px;
  }

  .AppsOutlinedIcon {
    margin-left: -4px;
    /* margin-top: -2px; */
  }

  #niveus-image {
    left: -50px;
  }

  .menu {
    position: absolute;
    display: block;
    right: 380px;
  }

  .profile-icon1 {
    width: 3px;
    height: 3px;
    top: 14px;
    left: 45px;
  }

  .dropdown-menu {
    top: 58px;
    left: -65px;
    width: 140px;
    height: 100px;
  }

  .dropdown-item {
    padding-top: 6px;
    font-size: 15px;
  }

  .new-chat-text {
    display: none;
  }

  #hdfc-image {
    left: -240px;
    width: 60px;
  }

  /* .mob-niveus-logo-container {
    right: 10px;
  } */
}

/*--------------Mobile 1------------------*/

@media screen and (max-width: 480px) {
  .profile-icon1 {
    width: 3px;
    height: 3px;
    top: 15px;
    /* left: 31px; */
  }

  .dropdown-toggle {
    left: 75px;
  }

  .AppsOutlinedIcon {
    /* margin-left: 35px; */
  }

  #niveus-image {
    /* left: -65px; */
  }

  .menu {
    position: absolute;
    display: block;
    right: 230px;
  }

  .dropdown-menu {
    top: 65px;
    left: -66px;
    width: 120px;
    height: 80px;
  }

  .dropdown-item {
    padding-top: 4px;
    font-size: 13px;
  }

  /* #hdfc-image {
    left: -240px;
    width: 50px;
  } */
}

/*--------------Mobile 2------------------*/

@media screen and (max-width: 600px) {
  .profile-icon1 {
    width: 3px;
    height: 3px;
    top: 14px;
    left: 37px;
  }

  .dropdown-toggle {
    left: 50px;
    font-size: 22px;
    /* width: 45px;
    height: 45px; */
  }

  .AppsOutlinedIcon {
    /* margin-left: -19px; */
  }

  #niveus-image {
    /* left: 5px; */
    left: -240px;
    width: 80px;
    height: 18px;
    top: 18px;
  }

  .menu {
    position: absolute;
    display: block;
    right: 230px;
  }

  .box {
    width: 90%;
    height: 85%;
    top: 10%;
    /* left: 20px; */
    right: 5px;
  }

  .dropdown-menu {
    top: 70px;
    left: -87px;
    width: 110px;
    height: 60px;
  }

  .dropdown-item {
    padding-top: 4px;
    font-size: 12px;
  }

  #hdfc-image {
    left: -240px;
    width: 60px;
  }

}