.rightsidebar{
  position: absolute;
  flex: 0.2;
  margin-right: 50px;
  left: 1420px; 
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 25px;
 
 border: 2px solid #DFE6EA;
 

  margin-top: 30px;
 height: 400px;
 width: 350px;

}
.rightbar__topcontainer {
  margin-left: 100px;
}

.rightbar__top {
  display: flex;
  align-items: center;
  
  padding: 10px;
}


.rightbar__top > p {
  font-size: 18px;
  font-weight: 500;
 margin: 0 10px;
 color: #484647;
 margin-left: 10px;
 
}


.rightbar__top .topicons {
 
  color: #858789;
  margin: 0 90px;
  margin-left: 100px;
}


.rightbar__options{
  display: flex;
  flex-direction: row;
  align-items: center;
 
  border-radius: 15px;
  margin-left: 10px;


  margin-top: 10px;
 height: 30px;
 width: 150px;
 
  
  
}


.optionscontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
 
  .optionscontainer h2{
    font-size: 10px;
   
  }
  
  .optionscontainer  p {
    border: none;
    background-color: transparent;
    color: #484647;
   
  }

  .optionscontainer  p {
    outline: none;
    background-color: transparent;

  }

  .optionscontainer  p {
    padding: 20px; 
  }

  .yeargraph {
    margin-left: 10px; 
    font-weight: 500;
  }

  .competitorgraph p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 90px;
    color: #484647;
   
  }

  .comparecontainer{
   
    font-weight: 400;
    
    border-radius: 15px;
   color: #ffffff;
    background-color: #F90000;
   padding: 6px;
   margin-left: 50px;
   
  }
.radiobutton{
  margin-top: 10px;
  margin-bottom: 20px;
}

.radiobutton label {
  color: #484647;
}
.first-line,
.second-line {
  display: flex;
  margin-right: 10px; /* Adjust margin */
  margin-bottom: 10px;
}

.first-line input[type="radio"],
.second-line input[type="radio"] {
  margin-right: 5px;
}

 

.year {
  margin-left: 50px; /* Adjust margin */
  margin-right: 50px; /* Adjust margin */
  color: #6f7174;
  font-weight: 500;
  margin-bottom: 20px;
}


  .first-line #mahindra  {
    margin-left: 20px; 
  }
  .first-line  {
    margin-left: 10px; 
  }
  .first-line #tata  {
    margin-left: 20px; 
  }
  .second-line #maruthi  {
    margin-left: 30px;
   padding-top: 5px;
  }

  

  .rightbarbottomcontainer{
    margin-top: 20px;
  }
  .rightbarbottomcontainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  

  hr {
    border: none;
    height: 1px;
    background-color: #C5CACE; /* Change this to the color you want */
  }

  .rightbarbottom__options{
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
    
    
  }
  .optionscontainer,
.options1container,
.options2container,
.options3container {
  width: 100px; /* Adjust width */
}

  
  
   .options1container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 15px;
  
    border: 2px solid #DFE6EA;
    margin-top: 10px;
   height: 30px;
   width: 90px;
   }
   
    .options1container h2{
      font-size: 10px;
     
    }
    
    .options1container  select {
      border: none;
      background-color: transparent;
      color: black;
      padding-left: 20px;

      
    }
  
    .options1container  select:focus {
      outline: none;
      background-color: transparent;
  
    }
  
    .options1container  select {
      padding: 20px; 
      padding-left: 0;
    }
    .options2container{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin-left: 20px;
    
      border: 2px solid #DFE6EA;
      margin-top: 10px;
      height: 30px;
      width: 90px;
     }
    

    .options2container h2{
      font-size: 10px;
     
    }
    
    .options2container  select {
      border: none;
      background-color: transparent;
      color: black;
    }
  
    .options2container  select:focus {
      outline: none;
      background-color: transparent;
  
    }
  
    .options2container  select {
      padding: 10px; 
    }

    .options1container h2{
      font-size: 10px;
     
    }

    .options3container{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin-left: 20px;
    
      border: 2px solid #DFE6EA;
      margin-top: 10px;
      height: 30px;
      width: 90px;
     }
    
    .options3container  select {
      border: none;
      background-color: transparent;
      color: black;
    }
  
    .options3container  select:focus {
      outline: none;
      background-color: transparent;
  
    }
  
    .options3container  select {
      padding: 10px; 
    }

    .data{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    
   .datasecond-line {
      display: flex;
      justify-content: space-between;

      
    }
    .datafirst-line{
      display: flex;
    }
    
    .datafirst-line p, .datasecond-line h4 {
      margin-left: 15px;
      margin-right: 120px;
      margin-bottom: 5px;
      
    }
    
    .datafirst-line p {
      color: #848587;
      font-weight: 400;
     
    }
    
    .brandname p {
      font-size: 16px; /* Adjust font size */
      font-weight: 600;
      margin-left: 20px;
      margin-bottom: 5px;
      letter-spacing: 1px;
    }
    